body {
    background: #111111;
}


.upcoming-title {
    width: 275px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    color: #ffffff;
}

.upcoming-content {
    width: 100%;
}

.upcoming-img {
    width: 704px;
    height: 400px;
    top: 957px;
    left: 32px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: none;
    opacity: 0px;
    background: linear-gradient(307.47deg, rgba(0, 0, 0, 0.2) 23.85%, rgba(0, 0, 0, 0) 47.27%);
    display: block;
}

.upcoming-title {
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #B7B7B7;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    display: flex;
}



@media screen and (min-width: 320px) {
    .upcoming__title {
        letter-spacing: .02em;
        text-transform: uppercase;
        color: var(--white-color);
        margin-top: 32px;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1875;
    }
}

@media screen and (min-width: 320px) {
    .upcoming-button {
        letter-spacing: .02em;
        letter-spacing: 0;
        color: var(--black-color);
        text-align: center;
        width: 110px;
        height: 40px;
        cursor: pointer;
        background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
        border: none;
        border-radius: 74px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.16667;
        transition: color .3s;
        display: flex;
    }
}