<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../partials_css/upcoming.css" />
</head>

<body>
    <section class="upcoming">
        <div class="container">
            <h2 class="upcoming-title">upcoming this month</h2>
            <div class="upcoming-content">
                <img class="upcoming-img" src="../images/Example-img.jpg" alt="Travelers"/>
                <div class="upcoming-box">
                    <h3 class="upcoming-box-title">Tytuł</h3>
                    <div class="upcoming-info">
                        <ul class="upcoming-info-list-left">
                            <li class="upcoming-info-list-item">
                                <p class="upcoming-info-text">Release date</p>
                                <p class="upcoming-info-date">01.01.0001</p>
                            </li>
                            <li class="upcoming-info-list-item">
                                <p class="upcoming-info-text">Vote / Votes</p>
                                <p class="upcoming-info-vote">
                                    <span class="upcoming-vote"> 0.0</span> 
                                    <span class="upcoming-slash"> / </span>
                                    <span class="upcoming-vote">0</span>
                                </p>
                            </li>
                        </ul>
                        <ul class="upcoming-info-list-right">
                            <li class="upcoming-info-list-item">
                                <p class="upcoming-info-text">Popularity</p>
                                <p class="upcoming-info-number">1</p>
                            </li>
                            <li class="upcoming-info-list-item">
                                <p class="upcoming-info-text">Genre</p>
                                <p class="upcoming-info-number">Test</p>
                            </li>
                        </ul>
                    </div>
                    <h3 class="upcoming-title-about">About</h3>
                    <p class="upcoming-text">Some text</p>
                    <button type="button" class="upcoming-button">
                        Add to my library
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>